{% if contracts is defined and contracts|length > 0 %}

<table class="table" {{ stimulus_controller('table', {
   'exportName': 'contracts',
   'pageSize' : pageSize != null ? pageSize : 10,
   'page': page != null ? page : 1,
   'sortName': sortName,
   'sortOrder': sortOrder,
}) }}>
   <thead>
      <tr>
            <th data-sortable="true">{{ 'contract.code' | trans }}</th>
            <th data-sortable="true">{{ 'contract.type' | trans }}</th>
            {% if app.request.locale == 'es' %}
               <th data-sortable="true">{{"contract.subjectEs" | trans }}</th>
            {% else %}
               <th data-sortable="true">{{"contract.subjectEu" | trans }}</th>
            {% endif %}
            <th data-sortable="true" data-sorter="amountSorter">{{ 'contract.amountWithVAT' | trans }}</th>
            <th data-sortable="true">{{ 'contract.duration' | trans }}</th>
            {# <th data-sortable="true">{{ 'contract.identificationType' | trans }}</th> #}
            <th data-sortable="true">{{ 'contract.idNumber' | trans }}</th>
            <th data-sortable="true">{{ 'contract.enterprise' | trans }}</th>
            <th data-sortable="true">{{ 'contract.awardDate' | trans }}</th>
            <th data-sortable="true">{{ 'contract.user' | trans }}</th>
            <th data-sortable="true" data-field="options">{{"table.options" | trans }}</th>
      </tr>
   </thead>
   <tbody>
   {% for contract in contracts %}
      <tr>
            <td>{{ contract.code }}</td>
            <td>{{ contract.type.name }}</td>
            {% if app.request.locale == 'es' %}
               <td>{{contract.subjectEs}}</td>
            {% else %}
               <td>{{contract.subjectEu}}</td>
            {% endif %}
            <td>{{ contract.amountWithVAT | number_format(2,',','.')}} €</td>
            <td>{{ contract.duration }} ({{ contract.durationType.name }})</td>
            {# <td>{{ contract.identificationType.name }}</td> #}
            <td>{{ contract.idNumber }}</td>
            <td>{{ contract.enterprise }}</td>
            <td>{{ contract.awardDate | date('Y-m-d')}}</td>
            <td>{{ contract.user }}</td>
            <td>
               <a href="{{ path('app_contract_show', {
                     'id': contract.id }
                  ) }}" data-url="{{ absolute_url(path(app.request.attributes.get('_route'))) }}"><i class="fa fa-eye" title='{{ "btn.show" | trans | capitalize }}' data-action="click->table#updateTableParams"></i></a>&nbsp;
               <a href="{{ path('app_contract_edit', {
                     'id': contract.id }
                  ) }}" data-url="{{ absolute_url(path(app.request.attributes.get('_route'))) }}"><i class="fa fa-edit" title='{{ "btn.edit" | trans | capitalize }}' data-action="click->table#updateTableParams"></i></a>&nbsp;
               {% if is_granted('ROLE_ADMIN') %}
               <a href="#" {{ stimulus_controller('alert', {
                  'confirmationText': 'message.deletionConfirmationText' | trans({},'alerts'),
                  'redirect' : true,
               }) }} data-url="{{ path('app_contract_delete', {'id': contract.id }) }}" data-token="{{ csrf_token('delete'~contract.id ) }}" data-action="alert#confirm"><i class="fa fa-trash" title='{{ "btn.delete" | trans | capitalize }}'></i></a>&nbsp;
               {% endif %}
               {% if contract.notified == null or not contract.notified %}
                  <a href="#" {{ stimulus_controller('alert', {
                     'confirmationText': 'message.sendConfirmationText' | trans({},'alerts'),
                     'redirect' : true,
                  }) }} data-url="{{ path('app_contract_send', {'id': contract.id }) }}" data-token="{{ csrf_token('send'~contract.id ) }}" data-long="true" data-action="alert#confirm"><i class="fa fa-paper-plane" title='{{ "btn.send" | trans | capitalize }}'></i></a>&nbsp;
               {% endif %}
            </td>
      </tr>
   {% endfor %}
   </tbody>
</table>
<script>
  function amountSorter(a, b) {
      var aa = a.replace('€', '').replace('.','').replace(',','');
      var bb = b.replace('€', '').replace('.','').replace(',','');
      return aa - bb
  }
</script>
{% else %}
   <div class="alert alert-secondary mt-3" role="alert">{{"messages.results0" | trans }}</div>
{% endif %}