<form method="post" action="{{ path('app_contract_index') }}" {{ stimulus_controller('submit-form') }} data-submit-form-target="form">
   <div class="container-fluid">
      <div class="row align-items-center" {{ stimulus_controller('datepicker', {
               'selector': '.js-datepicker',
               'locale': app.request.locale,

            }) }}>
            <div class="col-lg-2">
               {{ form_label(form.startDate) }}
               {{ form_widget(form.startDate) }}
               {{ form_errors(form.startDate) }}
            </div>
            <div class="col-lg-2">
               {{ form_label(form.endDate) }}
               {{ form_widget(form.endDate) }}
               {{ form_errors(form.endDate) }}
            </div>
            <div class="col-lg-auto">
               <button class="btn btn-primary">{{ 'btn.search' | trans }}</button>
               <button class="btn btn-secondary" type="button" onclick="javascript:this.form.reset();">{{ 'btn.clean' | trans }}</button>
               <button class="btn btn-success" data-action="submit-form#submit" data-url="{{ path('app_contract_download') }}" type="button">{{ 'btn.download' | trans }}</button>
            </div>
      </div>
   </div>
{{ form_end(form) }}