{% trans_default_domain 'user_bundle' %}
{{ form_start(form) }}

<div class="container-fluid m-0">
	<div class="row align-items-center">
		<div class="col-lg-2">
			{{ form_row(form.username, {'attr': {'class': 'form-control form-control-sm'}}) }}
		</div>
		<div class="col-lg-3">
			{{ form_row(form.firstName, {'attr': {'class': 'form-control form-control-sm'}}) }}
		</div>
		<div class="col-lg-3">
			{{ form_row(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
		</div>
		<div class="col-2 form-group form-check form-check-inline align-items-end">
			{{ form_label(form.activated) }}
			<span class="text-danger">{{ form_errors(form.activated) }}</span>
			{{ form_widget(form.activated, {'attr': {'class': 'form-check-input'}}) }}
		</div>
	</div>                
	<div class="row">
		{% if not readonly and password_change %}
			<div class="col-lg-2">
				{{ form_label(form.password.first) }}
				<span class="text-danger">{{ form_errors(form.password.first) }}</span>
				{{ form_widget(form.password.first, {'attr': {'class': 'form-control form-control-sm'}}) }}
				{{ form_label(form.password.second) }}
				{{ form_widget(form.password.second, {'attr': {'class': 'form-control form-control-sm mt-1'}}) }}
			</div>
		{% endif %}
			<div class="col-lg-4">
				{{ form_row(form.roles, {'attr': {'class': 'ml-1 form-control form-control-sm'}}) }}
			</div>
	</div>
	<div class="row">
		<div class="d-grid gap-2 d-md-block">
			{% if not readonly and not new %}
				<button class="col-lg-1 btn btn-primary ml-2 js-save" type="button" data-url="{{ path('admin_user_edit', {'id': form.vars.value.id}) }}">{{ "btn.user.save" | trans }}</button>
			{% endif %}
			{% if new %}
				<button class="col-lg-1 btn btn-primary ml-2 js-save ml-1" type="submit">{{ "btn.user.save" | trans }}</button>
			{% endif %}
			<button class="col-lg-1 btn btn-primary ml-2 js-back ml-1" type="button" data-url="{{ path('admin_user_list') }}">{{ "btn.user.cancel" | trans }}</button>
		</div>
	</div>
</div>

<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': true, 
				   'attr': {'class': '',
			       } 
}) }}