{% extends "@User/layout.html.twig" %}
{% trans_default_domain 'user_bundle' %}

{% block title %}List Users
{% endblock %}

{% block menu %}
	{{ include('common/_menu.html.twig') }}
{% endblock %}

{% block user_content %}
	<main class="container-fluid">

		{# <div class="container-fluid"> #}
			{% if users is defined and users|length > 0 %}

				<table id="table" {#class="table mt-3"#} {{ stimulus_controller('table') }}>
					<thead>
						<tr>
							<th data-sortable="true">{{"user.id" | trans | capitalize}}</th>
							<th data-sortable="true">{{"user.username" | trans | capitalize}}</th>
							<th data-sortable="true">{{"user.firstName" | trans | capitalize}}</th>
							<th data-sortable="true">{{"user.email" | trans | capitalize}}</th>
							<th data-sortable="true">{{"user.roles" | trans | capitalize}}</th>
							<th data-sortable="true" data-field="options">{{"table.options" | trans | capitalize}}</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{user.id}}</td>
								<td>{{user.username}}</td>
								<td>{{user.firstName}}</td>
								<td>{{user.email}}</td>
								<td>
									{% set rolesCount = user.roles | filter((v,k) => v != 'ROLE_KONTRATU_TXIKIAK') | length %}
									{% if rolesCount > 0 %}
										{% for role in user.roles | filter((v,k) => v != 'ROLE_KONTRATU_TXIKIAK') %}
											{{ role | trans | capitalize }}
											{% if loop.index < rolesCount %}|
											{% endif %}
										{% endfor %}
									{% else %}
										{{ 'ROLE_KONTRATU_TXIKIAK' | trans }}
									{% endif %}
								</td>
								<td>
									<a href="{{ path ("admin_user_show",{'id': user.id })}}">
										<i class="fa fa-eye"></i>
									</a>
									&nbsp;<a href="{{ path ("admin_user_edit",{'id': user.id })}}">
										<i class="fa fa-edit"></i>
									</a>
									&nbsp;<a href="#" {{ stimulus_controller('alert', {
                  				'confirmationText': 'message.deletionConfirmationText' | trans({},'alerts'),
			                  	'redirect' : true,
         				      	}) }} data-url="{{ path('admin_user_delete', {'id': user.id }) }}" data-token="{{ csrf_token('delete'~user.id ) }}" data-action="alert#confirm">
										<i class="fa fa-trash"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<div class="mt-2 p-2 border border-black text-center bg-light">{{"messages.results0" | trans }}</div>
			{% endif %}
			<span class="float-right">
				<a href="{{ path ('admin_user_new') }}" class="btn btn-primary rounded-circle fixed-bottom-right">
					<i class="fa fa-plus" title='{{ "btn.user.new" | trans | capitalize }}'></i>
				</a>
			</span>
		{# </div> #}
      {{ include('common/_alert.html.twig', {
         'confirmationText' : 'messages.confirmationDetail' | trans({},'messages') 
      }) }}
	</main>
{% endblock user_content %}
